@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #120516;
  font-family: "Source Sans Pro", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 8.5rem;
  font-weight: 700;
  color: #fdfcfc;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fdfcfc;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fdfcfc;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fdfcfc;
}

.navigation {
  height: 10rem;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

.nav-shrink {
  height: 5rem;
}

.colour-square {
  height: 100%;
  width: 100%;
  width: 10rem;
  background-color: #5f1e92;
}

.logo {
  height: 100%;
  margin: 0 auto 0 3rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo svg {
  height: 80%;
}

.menu {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu a {
  text-decoration: none;
  margin-left: 6rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu a:first-child {
  margin: 0;
}

.menu a:hover {
  opacity: 0.7;
}

.menu li {
  color: #fdfcfc;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem 0 auto;
}

.social-icons a {
  padding: 0 1rem 0 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.social-icons a:hover {
  opacity: 0.7;
}

.social-icons svg {
  height: 100%;
  width: 5rem;
  padding: 1rem;
}

.first-row {
  height: auto;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(images/concert-compressor.jpg);
  background-position: center;
  background-size: cover;
}

.first-row:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#200c284f), to(#120516));
  background-image: linear-gradient(to top left, #200c284f, #120516);
}

@media (min-height: 1240px) and (max-height: 1500px) and (orientation: landscape) {
  .first-row {
    height: 100vh;
  }
}

.first-row-cont {
  max-width: 100rem;
  width: 100%;
  margin: 9% 4rem 4%;
  position: relative;
  z-index: 1;
}

.first-row-cont h1 {
  text-transform: uppercase;
  font-size: 10rem;
  line-height: 7.5rem;
}

.tour-dates-btn {
  background-color: #fdfcfc;
  outline: none;
  color: #120516;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tour-dates-btn:hover {
  opacity: 0.7;
}

.music-list-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 0 3rem;
  position: relative;
}

.music-list-btns button {
  position: relative;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fdfcfc;
  margin-left: 4rem;
  font-size: 1.9rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.music-list-btns button:hover {
  opacity: 0.7;
}

.music-list-btns a:nth-child(2) svg {
  top: -0.3rem;
}

.music-list-btns svg {
  position: absolute;
  left: -2.7rem;
  top: 0;
  height: 100%;
}

.music-calls a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: black;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.music-calls a:hover {
  opacity: 0.7;
}

.music-calls a:nth-child(2) {
  color: #fdfcfc;
}

.music-calls a svg {
  height: 100%;
  width: 2rem;
  margin-right: 1rem;
  position: relative;
}

.music-calls a:nth-child(1) button {
  background-color: #fdfcfc;
}

.music-calls a:nth-child(1) svg {
  top: 0.2rem;
  width: 2rem;
}

.music-calls-btn {
  margin-right: 1rem;
  border: none;
  color: inherit;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  font-weight: 700;
}

.slider {
  background-color: #fdfcfc;
  position: relative;
  z-index: 2;
  margin: 3rem 4rem;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.slider:hover {
  opacity: 0.7;
}

.tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8rem;
  position: relative;
}

.tiles div {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.tiles img {
  position: absolute;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tiles a {
  width: 32.5%;
  background-color: #200c28;
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tiles a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.tiles a:hover {
  opacity: 0.85;
}

.tiles p {
  position: absolute;
  top: 5%;
  left: 7%;
  color: #fdfcfc;
  font-size: 2rem;
  letter-spacing: 0.75rem;
  z-index: 1;
}

.tiles h3 {
  position: absolute;
  bottom: 5%;
  left: 7%;
  font-size: 6rem;
  font-weight: 700;
  line-height: 5.3rem;
  z-index: 1;
}

.stripes {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  height: 0.5rem;
  width: 100%;
  background-color: #fdfcfc;
}

.stripe-one {
  right: -41%;
}

.stripe-two {
  right: -42%;
}

.stripe-three {
  left: -41%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.stripe-four {
  left: -42%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.slide-container {
  position: relative;
  display: inline-block;
  width: 100rem;
  overflow: hidden;
  white-space: nowrap;
  margin: 6rem 4rem 15rem;
}

.slide-container h2 {
  text-align: center;
  padding-bottom: 7rem;
  font-size: 6rem;
}

.slide {
  font-size: 0;
  width: 100%;
  position: relative;
}

.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
}

.slide div {
  width: 100%;
  height: 400px;
  display: inline-block;
  position: relative;
  white-space: normal;
  overflow: hidden;
  border-radius: 1rem;
}

.slide div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.slide h4,
.slide p {
  font-size: 5.5rem;
  position: relative;
  z-index: 2;
  padding: 7rem 4rem 3rem;
}

.slide p {
  color: #fdfcfc;
  font-size: 2rem;
  padding: 0 4rem;
}

.slide a {
  color: #120516;
}

.second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.second-row svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1400px) {
  .second-row svg {
    height: 100%;
  }
}

.second-row > .stripes {
  top: 0;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.second-row > .stripe-three, .second-row .stripe-four {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

::-moz-selection {
  background-color: #5f1e92;
}

::selection {
  background-color: #5f1e92;
}
/*# sourceMappingURL=style.css.map */